#pragma once

/* Edit the template file, not the generated header-file.
*/

#cmakedefine GLAD_VERSION ${GLAD_VERSION}
#cmakedefine GLAD_VERSION_STR ${GLAD_VERSION_STR}
#cmakedefine JGAA_GLAD_MAP_TYPE ${JGAA_GLAD_MAP_TYPE}
